@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  /*
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
*/  
}

@layer components{
  .heading{
    @apply font-Roboto font-extrabold
  }

  .body{
    @apply font-Roboto font-medium
  }

  .customButton{
    @apply py-2 px-4 rounded-full font-bold
  }

  .customPrimaryButton{
    @apply bg-buttonBlue hover:bg-gradient-to-b from-buttonPurple to-buttonBlue text-white ;
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
    border-radius: 100px;
    border: 1px solid #4426D9;
    color:  white;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .customSecondaryButton{
    @apply bg-transparent  border-buttonBlue text-buttonBlue hover:border-buttonPurple hover:text-buttonPurple;

    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
    border-radius: 100px;
    border: 1px solid #4426D9;
    color:  #4426D9;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .sectionHeader{
    @apply bg-red-60;
  }

  .errorCard{
    display: flex;
    width: 190px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: var(--space-16, 16px);
    border: 1px solid var(--Content-border, #E4E7E8);
    background: var(--Content-surface, #FFF);
  }
  .errorPicture{
    width: 50px;
    height: 50px;
  }
  .errorTitle{
    align-self: stretch;
    color: var(--Text-text-primary, #141C24);
    text-align: center;
    /* Desktop/H3 */
    font-family: "Roboto Flex";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 18px */
  }
  .errorDescription{
    align-self: stretch;
    color: var(--Text-text-secondary, #5C6970);
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .profileCard{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 1px var(--Blur-blur-2, 3px) 0px rgba(26, 26, 26, 0.08);
  } 

  .profileCard_gradient{
    height: 64px;
    align-self: stretch;
    background: var(--Gradient-Soft-Sunrise, linear-gradient(103deg, #ECE9FB 0.31%, #FDEDE7 82.87%));

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .profileCard_info{
    @apply relative z-10
  }

  .profileCard_picture{
    @apply w-24 h-24 rounded-full object-cover border-4 border-white mt-8 lg:ml-4
  }
  
  .profileCard_name{
    @apply lg:mt-20;

    font-family: "Roboto Flex";
    font-size: 30px;
  }

  .profileCard_nopic{
    @apply mx-auto;
  }


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
